<div class="container" style='height:85px'>
    <h1 align="center">SafeGo</h1>
</div>
<div id="map"></div>
<div class="container">
    <div class="row">
        <form #addressForm="ngForm" (ngSubmit)="onAddressSubmit(addressForm)">
            <table class="gridtable" width="100%" height="180px">
                <tr>
                    <th>参数</th>
                    <th>值</th>
                    <th>备注</th>
                    <th>必选</th>
                </tr>
                <tr>
                    <td>address</td>
                    <td><input type='text' name='address' class='form-control'></td>
                    <td>填写结构化地址信息：省份+城市+区县+城镇+乡村+街道+门牌号</td>
                    <td>是</td>
                </tr>
                <tr>
                    <td>city</td>
                    <td><input type='text' name='city' class='form-control'></td>
                    <td>查询城市，可选：城市中文、中文全拼、citycode、adcode</td>
                    <td>否</td>
                </tr>
            </table>
            <div class="container">
                <input type="button" value="提交" id="btn-submit-address" click="onSubmitAddress($event)"/>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>