<div class="container">
    <h1>SafeGo</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #questionForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
            <label for="address">地址</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="model.address" name="address">
        </div>
        <div class="form-group">
            <label for="city">城市</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="model.city" name="city">
        </div>
        <div class="form-group">
            <label for="body">问题</label>
            <input type="text" class="form-control" id="body" required [(ngModel)]="model.body" name="body">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddressSubmit(questionForm)">获取出行意见</button>
    </form>
</div>