<div class="container" style='height:85px'>
    <h1 align="center">SafeGo</h1>
</div>
<div class='container'>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #addressForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
            <label for="address">地址</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="model.address" name="address">
        </div>
        <div class="form-group">
            <label for="city">城市</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="model.city" name="city">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddressSubmit(addressForm)">获取危险指数</button>
    </form>
</div>