<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜鸟教程（runoob.com)</title>
</head>
<body>

 <form action="{% url 'search_advise' %}"  method="post">
        <input type="text" name="q" value={{ question | default:'' }}>
        <input type="submit" value="搜索">
    </form>

 <p>{{ answer |default:"防控建议" }}</p>

<form action="{% url 'search_risk' %}"  method="post">
        <p>地名：<input type="text" name="address" value={{ address | default:'' }}></p>
        <p>城市：<input type="text" name="city" value="{{ city | default:'' }}"></p>
        <input type="submit" value="查询">
    </form>

 <p>{{ risk |default:"风险指数" }}</p>

</body>
</html>